emacs.d/elpa/archives/gnu/archive-contents/
emacs.d/elpa/archives/marmalade/archive-contents/
emacs.d/elpa/archives/melpa/archive-contents/
emacs.d/auto-save-list/
emacs.d/desktop/
emacs.d/semanticdb/
emacs.d/url/
emacs.d/ac-comphist.dat
